<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="fragments/header.html :: head">
</head>
<body>
    <div th:replace="fragments/header.html :: navbar"></div>
    <form action="/meteo" method="post">
      <div>
        <label for="address">Please input your adress :</label>
        <input class="form-control" name="address" id="address">
      </div>
      <div>
        <button class="btn btn-primary mt-2">Get the weather at the given address !</button>
      </div>
    </form >
    </body>
</html>